body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  /*background: url(../assets/skyline.jpg) no-repeat;*/
  /*background-size: contains;*/
  background-color: #212121;
  margin: 0;
  padding: 0;
  text-align: center
}body, html {
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}
a {
  color: #ddd;
  font-size: 12px;
}
#app {
  position: absolute;
  height: 100%;
  width: 100%;
}
.logo {
  background: url(../assets/logo.png) no-repeat center center;
  height: 250px;
  width: 250px;
  margin: 0 auto 20px auto;
}
.search-container {
  position: fixed;
  width: 500px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  transform: translate(-50%, -50%);
  transition: all 2s ease 0s;
}
.search-box {
  border: 1px solid grey;
  width: 500px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.50);
  color: white;
  overflow: hidden;
}
.search-input {
  width: 410px;
  border:0px;
  height: 30px;
  padding: 0;
  padding-left:10px;
}
.search-button {
  width: 80px;
  height: 30px;
  border: 0;
  border-left: 1px solid grey;
  background: #5680b5;
  color: #eee;
}

.chart {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  margin-left: 50%;
  transform: translate(-50%);
}

.loader{
    /*width: 100px;*/
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin: auto;
    z-index: 10;
    opacity: 0.7;
    font-size: 30px;
    white-space: nowrap;
    text-shadow: 0px 0px 5px black;
    color: white;
}
.line-beat{
    width:100px;
    border-bottom: 1px solid black;
}

@keyframes blink-animation {
  from {
    opacity:1;
  }
  
  to {
    opacity:0.2;
  }
}

.blink {
    animation-duration: 0.1s;
    animation-name: blink-animation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
