body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: url(../assets/skyline.jpg) no-repeat;
  background-size: contains;
}
#search-box-container{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -250px;
}
.search-box {
  width: 500px;
  /*
  margin: auto;
  */
  border: 1px solid grey;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.50);
  color: white;
  overflow: hidden;
}
.search-input {
  width: 410px;
  border:0px;
  height: 30px;
  padding: 0;
  padding-left:10px;
}
.search-button {
  width: 80px;
  height: 30px;
  border: 0;
  border-left: 1px solid grey;
  background: #5680b5;
  color: #eee;
}